body {
    margin: 0;
    height: 100vh; /* Устанавливаем высоту body на 100vh */
}

.background {
    background-image: url('/1.jpg');
    background-size: cover; /* Масштабируем изображение, чтобы оно заполнило контейнер */
    background-position: center; /* Центрируем изображение */
    width: 100%;
    height: 100%; /* Задаем высоту 100% от родительского элемента (body) */
    position: absolute; /* Устанавливаем абсолютное позиционирование */
    top: 0; /* Устанавливаем верхнюю границу в 0 */
    left: 0; /* Устанавливаем левую границу в 0 */
    z-index: -1; /* Устанавливаем z-index, чтобы фон был ниже других элементов */
}

